version: '3'
services:
  tests:
    build:
      context: ./auth-service/tests
      dockerfile: Dockerfile
    entrypoint: >
      sh -c "pip install -r /tests/functional/requirements.txt
      && python3 /tests/functional/utils/wait_for_redis.py
      && pytest /tests/functional/src"

networks:
  default:
    external: true
    name: app-net